<div class="min-h-screen flex items-center justify-center p-4">
    <div class="max-w-[90vw] md:max-w-[80vw] w-full  bg-white rounded-3xl md:rounded-[2rem] shadow-lg p-4 md:p-8">
        <!-- Header -->
        <div class="flex items-center justify-between mb-8">
            <button [routerLink]="['/home']" class="p-2 hover:bg-gray-100 rounded-full transition-colors">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-gray-600">
                    <path d="m12 19-7-7 7-7"/>
                    <path d="M19 12H5"/>
                </svg>
            </button>
            <div class="flex items-center gap-2">
                <img height="15" width="15" src="./assets/images/building-solid.svg" alt="logo">
                <span class="font-semibold text-lg text-gray-400"><span class="text-orange-500 font-extrabold">Uno</span> Rooms</span>
            </div>
            <div class="text-sm text-gray-500">
            Step {{isRegistered? '1' : '2'}} / 3
            </div>
        </div>
        <div class="max-w-md mx-auto">
            

            <!-- Main Content -->
            <div class="text-center mb-8">
                <h1 class="text-2xl font-bold mb-2 text-gray-700">{{isRegistered? 'Wait, Who are you?' : 'Oh, you are back!'}}</h1>
                <!-- <p class="text-gray-600">Enter your Details</p> -->
            </div>

            <!-- Register -->
            <form *ngIf="isRegistered" (submit)="registerUser(); $event.preventDefault()" class="space-y-3 md:space-y-6">
                <div class="space-y-2">
                <label for="fullName" class="block text-sm font-medium text-gray-700 ml-2">
                    Full Name
                </label>
                <input required
                    [(ngModel)]="fullName"
                    type="text"
                    id="fullName"
                    name="fullName"
                    class="w-full px-4 py-3 rounded-full border border-gray-300 focus:ring-2 focus:ring-orange-500 focus:border-transparent transition-all outline-none"
                    placeholder="Enter your full name"
                >
                </div>

                <div class="space-y-2">
                    <label for="email" class="block text-sm font-medium text-gray-700 ml-2">
                        Email Address
                    </label>
                    <input required
                        [(ngModel)]="email"
                        type="email"
                        id="email"
                        name="email"
                        class="w-full px-4 py-3 rounded-full border border-gray-300 focus:ring-2 focus:ring-orange-500 focus:border-transparent transition-all outline-none"
                        placeholder="Enter your email address"
                    >
                </div>

                <div class="space-y-2">
                <label for="password" class="block text-sm font-medium text-gray-700 ml-2">
                    Password
                </label>
                <input
                    [(ngModel)]="password"
                    type="password"
                    id="pass"
                    required
                    name="password"
                    class="w-full px-4 py-3 rounded-full border border-gray-300 focus:ring-2 focus:ring-orange-500 focus:border-transparent transition-all outline-none"
                    placeholder="Choose your Password"
                >
                </div>

               

                <div class="space-y-3 pt-4">
                <button
                    type="submit"
                    class="w-full bg-orange-400 text-white py-3 rounded-full hover:bg-orange-500 transition-colors flex items-center justify-center gap-2"
                >
                    {{isLoading? "Loading...": "Next"}}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="m9 18 6-6-6-6"/>
                    </svg>
                </button>
                
                <button
                    type="button"
                    class="w-full bg-gray-100 text-gray-600 py-3 rounded-full hover:bg-gray-200 transition-colors"
                    (click)="isRegistered = false"
                >
                    Login
                </button>
                </div>
                <p>{{ message }}</p>
            </form>

            <!-- Login -->
            <form *ngIf="!isRegistered" (submit)="loginUser(); $event.preventDefault()" class="space-y-3 md:space-y-6">
                <div class="space-y-2">
                <label for="login" class="block text-sm font-medium text-gray-700 ml-2">
                    Login ID
                </label>
                <input required
                    [(ngModel)]="email"
                    type="text"
                    id="fullName"
                    name="fullName"
                    class="w-full px-4 py-3 rounded-full border border-gray-300 focus:ring-2 focus:ring-orange-500 focus:border-transparent transition-all outline-none"
                    placeholder="Enter your Email / Phone"
                >
                </div>

                <div class="space-y-2">
                <label for="password" class="block text-sm font-medium text-gray-700 ml-2">
                    Password
                </label>
                <input required
                    [(ngModel)]="password"
                    type="password"
                    id="pass"
                    name="password"
                    class="w-full px-4 py-3 rounded-full border border-gray-300 focus:ring-2 focus:ring-orange-500 focus:border-transparent transition-all outline-none"
                    placeholder="Enter your password"
                >
                </div>

                

                <div class="space-y-3 pt-4">
                <button
                    type="submit"
                    class="w-full bg-orange-400 text-white py-3 rounded-full hover:bg-orange-500 transition-colors flex items-center justify-center gap-2"
                >
                    {{isLoading? "Loading...": "Login"}}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="m9 18 6-6-6-6"/>
                    </svg>
                </button>
                
                <button
                    type="button"
                    class="w-full bg-gray-100 text-gray-600 py-3 rounded-full hover:bg-gray-200 transition-colors"
                    (click)="isRegistered = true"
                >
                    Register
                </button>
                </div>
                <p>{{ message }}</p>
            </form>


        </div>
    </div>
  </div>